<div class="main">
  <div class="welcome-container">
    <h1>Welcome</h1>
    Name of project :<font [color]=mycolor>{{pagetitle}}</font>
    <button :[disabled]="status">Click Me</button>
    <button :(click)=showData()>Click Me</button>
    <input type="text" [(ngModel)]="name">{{name}}<br>
    <app-book-data>Book data</app-book-data>
  </div>
</div>

<div>
  <select>
    <option *ngFor="let book of Books">
      {{book.BookName}}
    </option>
  </select>
</div>
<div *ngFor="let book of Books">
  <h3>{{book.BookName}},{{book.BookAuthor}}</h3>
</div>

<app-form-handling>New component</app-form-handling>
<app-addbook></app-addbook>
<app-delbook></app-delbook>

<hr>
<ul>
  <li><a routerLink="/add-book">add book </a></li>
  <li><a routerLink="/del-book">delete book</a></li>
</ul>

Component Loading..
<router-outlet></router-outlet>

