<p>form-handling works!</p>
<h1>Template Driven Forms</h1>
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)">
    <label for="fname">Fname :</label>
    <input type="text" required #fname="ngModel" id="fname" name="fname" ngModel><br>
    <span *ngIf="fname.invalid && fname.touched" style="color:red;">Please enter valid Input</span><br>

    <label for="lname">Lname :</label>
    <input type="text" id="lname" name="lname" ngModel><br>

    <label for="email">Email :</label>
    <input type="email" id="email" name="email" ngModel><br>

    <button>Submit</button>
</form>